.border {
    border-color: blue;
    border-width: 1px;
    border-style: solid;
}

.col-exsm {
    display: inline-block;
    width: 60px;
    vertical-align: top;
}

.col-sm {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}

.col-med {
    display: inline-block;
    width: 230px;
    vertical-align: top;
}

.col-med-lg {
    display: inline-block;
    width: 325px;
    vertical-align: top;
    position: relative;
}

.col-large {
    display: inline-block;
    width: 480px;
    vertical-align: top;
}

.col-spacer {
    display: inline-block;
    width: 15px;
}

.row {
    padding: 5px;
    vertical-align: text-top;
}

.table {
    display: inline-block;
    vertical-align: top;
}

.disabled-text {
    color: gray;
}

.lbl-header {
    margin-left: 10px;
    font-size: 110%;
}

.lbloutput {
    font-weight: bold;
    margin-top: 3px;
    padding-left: 5px;
}

.text-placeholder {
    font-weight: normal;
    color: rgb(50, 50, 50);
}

.collapse {
    visibility: collapse;
    width: 0px;
}

.section-head {
    color: white;
    background-color: rgb(0, 45, 130);
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin: -10px;
    margin-bottom: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.unicorn-logo {
    width: 160px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 20px;
}

.unicorn-spinner {
    width: 80px;
    height: auto;
    margin-left: 35px;
    position: absolute;
}

.spin {
    animation: rotate-spinner .4s;
}

@keyframes rotate-spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.form-container {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    text-align: left;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 8px 0px #888888;
}

.page-container {
    margin-top: 20px;
}

.button {
    background-color: #FF6900;
    color: white;
    display: inline-block;
    height: 36px;
    width: 130px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: none;
    border: 0;
    font-size: 100%;
}

body {
    background-color: rgb(206, 235, 250);
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    padding: 1px;
    font-size: 100%;
    color: black;
}

input {
    padding: 2px;
    font-size: 100%;
}